.root {
    display: flex;
    flex-direction: row;
}
.sudoku {
    margin: 20px;
    width: fit-content;
}

.right {
    margin-left: 100px;
    min-width: 600px;
}

.sudoku h1 {
    text-align: center;
}

td > input {
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;

    color: transparent;
    text-shadow: 0 0 0 black;
}

td:nth-child(3n+3) {
    padding-right: 10px;
}

tr:nth-child(3n+3) > td {
    padding-bottom: 10px;
}


.controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.controls > button {
    flex-basis: auto;
    flex-grow: 1;
    margin-right: 10px;
    height: 50px;
}

.controls .additional {
    margin-top: 50px;
}

.upload__container {
    margin-top: 50px;
}

.processed_image__container {
    margin-top: 50px;
}



#load{
    width:100px;
    height: 50px;
    background:url("./loading.gif") no-repeat;
    background-size: contain;
    display: none;
}

#processedImage {
    display: none;
    width: 500px;
}